<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zb.express.backend.mapper.OutExpressMapper">
    <update id="modifyOutExpressStatusAndDeliverymanId">
        update out_express
        set status         = #{status},
            deliveryman_id = #{deliverymanId}
        where id = #{id}
    </update>

    <select id="selectOutExpressPage" resultType="java.util.Map">
        select e.id as id, ec.name as companyName ,e.img as img , e.sender_name as senderName, e.sender_phone as
        senderPhone,
        e.receiver_name as receiverName, e.receiver_phone as receiverPhone, e.status as status
        from out_express e
        left join express_company ec on ec.id = e.company_id
        <where>
            <if test="sender != null and sender != ''">
                AND e.sender_name like concat('%', #{sender}, '%') OR e.sender_phone like concat('%', #{sender}, '%')
            </if>
            <if test="receiver != null and receiver != ''">
                AND e.receiver_name like concat('%', #{receiver}, '%') OR e.receiver_phone like concat('%', #{receiver},
                '%')
            </if>
            <if test="status != null and status != ''">
                AND e.status = #{status}
            </if>
        </where>
        ORDER BY e.create_time DESC
    </select>
    <select id="selectOutExpressCount" resultType="java.lang.Integer">
        select count(*)
        from out_express
        where company_id = #{id}
           OR deliveryman_id = #{id}
    </select>
    <select id="selectOutExpressById" resultType="com.zb.express.pojo.OutExpress">
        select *
        from out_express
        where id = #{id}
    </select>
    <select id="selectOutExpress" resultType="java.util.Map">
        select e.img              as img,
               e.weight           as weight,
               e.expense          as expense,
               e.sender_name      as senderName,
               e.sender_phone     as senderPhone,
               e.sender_address   as senderAddress,
               e.receiver_name    as receiverName,
               e.receiver_phone   as receiverPhone,
               e.receiver_address as receiverAddress,
               e.status           as status,
               e.create_time      as createTime,
               e.update_time      as updateTime,
               ec.name            as companyName,
               d.name             as deliverymanName,
               d.phone            as deliverymanPhone
        from out_express e
                 left join deliveryman d on d.id = e.deliveryman_id
                 left join express_company ec on ec.id = e.company_id
        where e.id = #{id}
    </select>
</mapper>