<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zb.express.setting.mapper.InExpressMapper">

    <select id="selectAllInExpressImg" resultType="java.lang.String">
        select img from in_express
    </select>
</mapper>