<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zb.express.setting.mapper.UserMapper">
    <insert id="insertUser">
        insert into user (username, password, phone, create_time, type, avatar)
        values (#{username}, #{password}, #{phone}, #{createTime}, #{type}, #{avatar})
    </insert>
    <select id="selectUserByUsernameAndPassword" resultType="com.zb.express.pojo.User">
        select *
        from user
        where username = #{username}
          and password = #{password}
          and type = #{type}
    </select>
    <select id="selectUserByUsername" resultType="com.zb.express.pojo.User">
        select *
        from user
        where username = #{username}
    </select>
    <select id="selectUserAvatar" resultType="java.lang.String">
        select avatar from user
    </select>
</mapper>