<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Demo</title>
    <link th:href="@{/layui/css/layui.css}" rel="stylesheet">
    <script th:src="@{/layui/layui.js}"></script>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 20px;
            background-color: #f2f2f2;
        }

        h1 {
            text-align: center;
            margin-bottom: 30px;
        }

        .container {
            width: 80%;
            margin: 0 auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }

        .button-group {
            margin-bottom: 20px;
        }

        .layui-table td, .layui-table th {
            text-align: center;
        }

        /* 输入框样式 */
        .input {
            height: 32px;
            line-height: 32px;
            padding: 0 10px;
            border-radius: 5px;
            border: 1px solid #ccc;
            outline: none;
        }

        /* 下拉菜单样式 */
        select {
            height: 34px;
            padding: 0 10px;
            border-radius: 5px;
            border: 1px solid #ccc;
            outline: none;
            background-color: #fff;
        }

        /* 按钮样式 */
        .layui-btn {
            height: 34px;
            line-height: 34px;
            margin-left: 10px;
            border-radius: 5px;
            outline: none;
            cursor: pointer;
        }

        .title-border {
            border-bottom: 1px solid #ddd;
            margin-bottom: 20px;
            text-align: center;
        }

        img {
            width: 100%;
            height: 100%;
        }
    </style>
</head>
<body>
<h1>寄送快递管理</h1>
<div class="layui-row layui-col-space20" style="width: 90%; margin: 0 auto;">
    <div class="title-border">
        <input type="text" id="querySender" class="input" placeholder="请输入寄件人姓名/手机号">
        <input type="text" id="queryReceiver" class="input" placeholder="请输入收件人姓名/手机号">
        <select id="queryStatus" lay-search>
            <option value="">状态</option>
            <option value="0">已下单</option>
            <option value="1">正在取件</option>
            <option value="2">已入库</option>
            <option value="3">已发出</option>
        </select>
        <button type="button" id="queryBtn" class="layui-btn layui-bg-blue">查询</button>
    </div>
    <table class="layui-table">
        <colgroup>
            <col width="9%">
            <col width="9%">
            <col width="9%">
            <col width="9%">
            <col width="12%">
            <col width="9%">
            <col width="12%">
            <col width="8">
            <col width="23%">
        </colgroup>
        <thead>
        <tr>
            <th>序号</th>
            <th>图片</th>
            <th>快递公司</th>
            <th>寄件人</th>
            <th>寄件人手机号</th>
            <th>收件人</th>
            <th>收件人手机号</th>
            <th>状态</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody id="tBody">
        </tbody>
    </table>
    <div id="page"></div>
</div>

<div id="take-outExpress-modal" class="layui-layer-wrap" style="display:none;">
    <div style="padding: 30px">
        <form class="layui-form" lay-filter="takeOutExpressForm">
            <div class="layui-form-item">
                <label class="layui-form-label">配送员</label>
                <div class="layui-input-inline">
                    <select name="deliverymanId" lay-verify="required" lay-search>
                        <option value="">请选择配送员</option>
                        <option th:each="deliveryman:${deliverymanList}" th:value="${deliveryman.id}"
                                th:text="${deliveryman.name}"></option>
                    </select>
                </div>

            </div>
            <input name="status" value="1" type="hidden">
            <input name="id" type="hidden">
            <div class="layui-form-item" style="text-align: center; margin-top: 20px;">
                <button type="button" class="layui-btn layui-btn-normal" lay-submit lay-filter="takeOutExpressSubmit"
                        style="width: 120px;">开始取件
                </button>
                <button type="button" class="layui-btn layui-btn-primary" id="closeTakeOutExpressModal"
                        style="width: 120px;">取消
                </button>
            </div>
        </form>
    </div>
</div>

<div id="modify-outExpress-modal" class="layui-layer-wrap" style="display:none;">
    <div style="padding: 30px">
        <form class="layui-form" lay-filter="modifyOutExpressForm">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">配送员</label>
                    <div class="layui-input-inline">
                        <select name="deliverymanId" lay-verify="deliverymanId" lay-search>
                            <option value="">请选择配送员</option>
                            <option th:each="deliveryman:${deliverymanList}" th:value="${deliveryman.id}"
                                    th:text="${deliveryman.name}"></option>
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">状态</label>
                    <div class="layui-input-inline">
                        <select name="status" lay-verify="required|status" lay-search>
                            <option value="0">已下单</option>
                            <option value="1">正在取件</option>
                            <option value="2">已入库</option>
                            <option value="3">已发出</option>
                        </select>
                    </div>
                </div>
            </div>
            <input name="id" type="hidden">
            <div class="layui-form-item" style="text-align: center; margin-top: 20px;">
                <button type="button" class="layui-btn layui-btn-normal" lay-submit lay-filter="modifyOutExpressSubmit"
                        style="width: 120px;">修改
                </button>
                <button type="button" class="layui-btn layui-btn-primary" id="closeModifyOutExpressModal"
                        style="width: 120px;">取消
                </button>
            </div>
        </form>
    </div>
</div>

<div id="detail-outExpress-modal" class="layui-layer-wrap" style="display:none;">
    <div style="padding: 30px">
        <form class="layui-form" lay-filter="detailOutExpressForm">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">快递公司</label>
                    <div class="layui-input-inline">
                        <input type="text" name="companyName" autocomplete="off" class="layui-input" disabled>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">状态</label>
                    <div class="layui-input-inline">
                        <select name="status" lay-search disabled>
                            <option value="0">已入库</option>
                            <option value="1">正在配送</option>
                            <option value="2">已取件</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">重量</label>
                    <div class="layui-input-inline">
                        <input type="text" name="weight" autocomplete="off" class="layui-input" disabled>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">快递费</label>
                    <div class="layui-input-inline">
                        <input type="text" name="expense" autocomplete="off" class="layui-input" disabled>
                    </div>
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">配送员姓名</label>
                    <div class="layui-input-block">
                        <input type="text" name="deliverymanName" placeholder="暂未开始取件" autocomplete="off"
                               class="layui-input" disabled>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">配送员手机</label>
                    <div class="layui-input-block">
                        <input type="text" name="deliverymanPhone" placeholder="暂未开始取件" autocomplete="off"
                               class="layui-input" disabled>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">图片</label>
                    <div class="layui-input-inline">
                        <div class="layui-upload" style="text-align: center;">
                            <div class="layui-form-mid layui-word-aux" id="expressImg"
                                 style="text-align: center; width: 100%"></div> <!-- 显示图片 -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">寄件人姓名</label>
                    <div class="layui-input-block">
                        <input type="text" name="senderName" autocomplete="off" class="layui-input" disabled>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">寄件人手机</label>
                    <div class="layui-input-block">
                        <input type="text" name="senderPhone" autocomplete="off" class="layui-input" disabled>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">发货地址</label>
                <div class="layui-input-block">
                    <input type="text" name="senderAddress" autocomplete="off" class="layui-input" disabled>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">收件人姓名</label>
                    <div class="layui-input-block">
                        <input type="text" name="receiverName" autocomplete="off" class="layui-input" disabled>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">收件人手机</label>
                    <div class="layui-input-block">
                        <input type="text" name="receiverPhone" autocomplete="off" class="layui-input" disabled>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">收货地址</label>
                <div class="layui-input-block">
                    <input type="text" name="receiverAddress" autocomplete="off" class="layui-input" disabled>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">下单时间</label>
                    <div class="layui-input-block">
                        <input type="text" name="createTime" autocomplete="off" class="layui-input" disabled>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">修改时间</label>
                    <div class="layui-input-block">
                        <input type="text" name="updateTime" autocomplete="off" class="layui-input" disabled>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    layui.use(function () {
        var layer = layui.layer;
        var $ = layui.$;
        var laypage = layui.laypage;
        let form = layui.form;

        $(document).on('click', '.detailBtn', function () {
            let id = $(this).attr("id")
            $.ajax({
                url: '/backend/outExpress/getOutExpressById',
                data: {id: id},
                type: 'Post',
                dataType: 'json',
                success: function (data) {
                        if (data.flag) {
                            let express = data.data;
                            form.val('detailOutExpressForm', {
                                "companyName": express.companyName,
                                "status": express.status,
                                "weight":express.weight,
                                "expense":express.expense,
                                "deliverymanName": express.deliverymanName,
                                "deliverymanPhone": express.deliverymanPhone,
                                "senderName": express.senderName,
                                "senderPhone": express.senderPhone,
                                "senderAddress": express.senderAddress,
                                "receiverName": express.receiverName,
                                "receiverPhone": express.receiverPhone,
                                "receiverAddress": express.receiverAddress,
                                "createTime": express.createTime,
                                "updateTime": express.updateTime
                            });
                            $('#expressImg').html('<img src="' + express.img + '" style="max-width: 100%; max-height: 100%;">');
                            layer.open({
                                type: 1,
                                title: '快递详情',
                                area: ['730px', '600px'],
                                content: $('#detail-outExpress-modal')
                            });
                        } else {
                            layer.msg(data.message, {icon: 5, anim: 6});
                        }
                }
            })
        })

        //修改快递
        $(document).on('click', '.modifyBtn', function () {
            let id = $(this).attr("id")
            $.ajax({
                url: '/backend/outExpress/getOutExpress',
                data: {id: id},
                type: 'Post',
                dataType: 'json',
                success: function (data) {
                    if (data.flag) {
                        let outExpress = data.data;
                        form.val("modifyOutExpressForm", {
                            "id": outExpress.id,
                            "status": outExpress.status,
                            "deliverymanId": outExpress.deliverymanId
                        })
                        layer.open({
                            type: 1,
                            title: '新增快递公司',
                            area: ['400px', '300px'],
                            content: $('#modify-outExpress-modal'),
                            success: function () {
                                form.on('submit(modifyOutExpressSubmit)', function (data) {
                                    var field = data.field; // 获取表单字段值
                                    if (field.status == "0" && field.deliverymanId != '') {
                                        layer.msg("快递状态为已下单时配送员应为空", {icon: 5, anim: 6})
                                        return false;
                                    }
                                    if (field.status != "0" && field.deliverymanId == '') {
                                        layer.msg("快递状态不是已下单时配送员不能为空", {icon: 5, anim: 6})
                                        return false;
                                    }
                                    $.ajax({
                                        url: '/backend/outExpress/modifyOutExpressStatusAndDeliverymanId',
                                        data: field,
                                        type: 'Post',
                                        dataType: 'json',
                                        success: function (data) {
                                            if (data.flag) {
                                                layer.msg(data.message, {icon: 6, anim: 0});
                                                let pageNo = $('.layui-laypage-curr em:eq(1)').text();
                                                let pageSize = $('.layui-laypage-limits select option:selected').val();
                                                queryForPage(pageNo, pageSize)
                                                closeModal()
                                            } else {
                                                layer.msg(data.message, {icon: 5, anim: 6});
                                            }

                                        }
                                    })
                                    return false; // 阻止默认 form 跳转
                                });

                                $("#closeSendInExpressModal").on("click", function () {
                                    closeModal()
                                })
                            }
                        });
                    } else {
                        layer.msg(data.message, {icon: 5, anim: 6});
                    }
                }
            })
        });

        //配送快递
        $(document).on('click', '.takeBtn', function () {
            let id = $(this).attr("id")
            form.val("takeOutExpressForm", {
                "id": id
            })

            layer.open({
                type: 1,
                title: '新增快递公司',
                area: ['400px', '300px'],
                content: $('#take-outExpress-modal'),
                success: function () {
                    form.on('submit(takeOutExpressSubmit)', function (data) {
                        var field = data.field; // 获取表单字段值
                        $.ajax({
                            url: '/backend/outExpress/takeOutExpress',
                            data: field,
                            type: 'Post',
                            dataType: 'json',
                            success: function (data) {
                                    if (data.flag) {
                                        layer.msg(data.message, {icon: 6, anim: 0});
                                        33
                                        let pageNo = $('.layui-laypage-curr em:eq(1)').text();
                                        let pageSize = $('.layui-laypage-limits select option:selected').val();
                                        queryForPage(pageNo, pageSize)
                                        closeModal()
                                    } else {
                                        layer.msg(data.message, {icon: 5, anim: 6});
                                    }
                            }
                        })
                        return false; // 阻止默认 form 跳转
                    });

                    $("#closeSendInExpressModal").on("click", function () {
                        closeModal()
                    })
                }
            });
        });


        //查询
        $("#queryBtn").on("click", function () {
            queryForPage(1, 10)
        })
        queryForPage(1, 10);

        function queryForPage(pageNo, pageSize) {
            let sender = $("#querySender").val();
            let receiver = $("#queryReceiver").val();
            let status = $("#queryStatus").val();
            $.ajax({
                url: '/backend/outExpress/queryOutExpressPage',
                data: {
                    pageNo: pageNo,
                    pageSize: pageSize,
                    sender: sender,
                    receiver: receiver,
                    status: status
                },
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    var htmlStr = "";
                    $.each(data.rows, function (index, express) {
                        let status = "";
                        if (express.status == 0) {
                            status = "已下单"
                        } else if (express.status == 1) {
                            status = "正在取件"
                        } else if (express.status == 2) {
                            status = "已入库"
                        } else {
                            status = "已发出"
                        }
                        htmlStr += "<tr>" +
                            "<td>" + (index + 1) + "</td>" +
                            "            <td ><img src=" + express.img + "></td>" +
                            "            <td >" + express.companyName + "</td>" +
                            "            <td >" + express.senderName + "</td>" +
                            "            <td >" + express.senderPhone + "</td>" +
                            "            <td >" + express.receiverName + "</td>" +
                            "            <td >" + express.receiverPhone + "</td>" +
                            "            <td >" + status + "</td>" +
                            "            <td ><button type='button' id='" + express.id + "' class='detailBtn layui-btn'>详情</button>";
                        if (express.status == 0) {
                            htmlStr += "<button type='button' id='" + express.id + "' class='takeBtn layui-btn layui-bg-blue'>取件</button></td>"
                        } else {
                            htmlStr += "<button type='button' id='" + express.id + "' class='modifyBtn layui-btn layui-bg-blue'>修改状态/取件员</button>"
                        }
                    });
                    $("#tBody").html(htmlStr)

                    laypage.render({
                        elem: 'page',
                        count: data.total,
                        limit: pageSize,
                        curr: pageNo,
                        layout: ['count', 'prev', 'page', 'next', 'limit'], // 功能布局
                        jump: function (obj, first) {
                            if (!first) {
                                pageNo = obj.curr;
                                pageSize = obj.limit;
                                queryForPage(pageNo, pageSize); // 分页改变时重新查询并保持在当前页面
                            }
                        }
                    })
                }
            })

        }

        // 关闭模态窗口
        closeModal = function () {
            layer.closeAll('page');
        }
    })
</script>
</body>
</html>